
.loginFrame{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 525px;
    
}

.loginFrame1{
    width: 100%;
}

.loginFrame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 80%;
}

.loginFrame2 h2{
    font-size: 40px;
}

.logoTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.logoTitle h1{
    font-size: 100px;
}

.logoTitle a{
    max-height: 250px;
}

    .logoTitle a img{
        max-height: 200px;
    }

.loginData {
    display: flex;
    height: 250px;
    width: 100%;
}

.loginData form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.loginInformation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loginInformation input{
    background-color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.loginApply {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

    .loginApply button {
        background-color: white;
        border: none;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
    }

    .loginApply a {
        color: white;
        
    }
