@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!--model und so kann potentiell entfernt werden-->
@model WebApplication1.Pages.IndexModel
@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        @{
            Html.RenderPartial("_links");
        }
        <script src="/js/index.js" defer></script>
    </head>
    <body>
        <main>
            <div class="contentDiv">
                <div class="selection">
                    <div class="selectionbox">
                        <div class="selectionBoxTitle">
                            <a href="/index"><img src="~/images/LogoBlack.svg" /></a>
                            <h1>Azore</h1>
                        </div>
                        <div class="separator">
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="information">
                    <div class="infobox">
                        <button type="button" id="logoutButton">Logout</button>
                    </div>
                    <div class="chatbox">
                        
                    </div>
                </div>
                
            </div>
        </main>
    </body>
    </html>
}