@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!--model und so kann potentiell entfernt werden-->
@model WebApplication1.Pages.IndexModel
@{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        @{
            Html.RenderPartial("_links");
        }
    </head>
    <body>
        <main>
            <div class="loginFrame">
                <div class="loginFrame1">
                    <div class="logoTitle">
                        <a href="/index"><img src="~/images/LogoWhite.svg" /></a>
                        <h1>Azore</h1>
                    </div>
                </div>
                <div class="loginFrame2">
                    <h2>Login</h2>
                    <div class="loginData">
                        <form>
                            <div class="loginInformation">
                                <input type="email" id="email" name="email" placeholder="Email" required>
                                <input type="password" id="password" name="password" placeholder="Passwort" required>
                            </div>
                            <div class="loginApply">
                                <a href="/register">Passwort vergessen?</a>
                                <button type="submit">Anmelden</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
    </html>
}